@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
@import "~bootstrap/scss/bootstrap";

body {
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.list-group-item {
  border: none;
}
