body{
  background-color: black;
}

.container {
  background: url("../images/pokedex.jpg") black;
  background-repeat: no-repeat;
  background-size: contain;
  width: 60%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#pokemonImg{
  width: 300px;
  margin-top: 300px;
  margin-left: 60px;
}
#name {
  width: 350px;
  margin-left: 40px;
  margin-bottom: 45px;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
}
