#banner {
  width: 100%;
  height: calc(100vh - 81px);
  background-image: url('https://tinyurl.com/64dctnnb');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#banner .banner-text{
  color: white;
  text-shadow: 5px 5px 5px #222;
  text-align: center;
  width: 50%;
}

#banner .banner-text h2{
  font-size: 50px;
}

#banner .banner-text ul{
  list-style-type: none;
}

#banner .banner-text ul li{
  font-size: 20px;
}

