#footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background: black;
  color: white;
}

#footer h3::first-letter{
  color: red;
}