#outros{
  margin: 60px 0;
}

#outros .grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  text-align: center;
}

#outros .grid .image-container{
  height: 350px;
  width: 100%;
  border: 10px groove lightgray;
  border-radius: 15px;
  overflow: hidden;
}

#outros .grid .grid-item img{
  height: 350px;
  width: 100%;
  object-fit: cover;
  transition: all .3s ease-in-out;
}

#outros .grid .grid-item img:hover{
  transform: scale(1.1);
}

#kasino + #outros{
  margin: 60px 0;
}