header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background: black;
  color: white;
  padding: 20px;
}

header h1{
  font-size: 30px;
}

header h1::first-letter{
  color: red;
}

header ul{
  display: flex;
  gap: 5px;
}

header ul li{
  list-style-type: none;
}

header li a{
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 9px;
  font-weight: bold;
  transition: all .3s ease-in-out;
}

header li a:hover{
  background-color: red;
  color: black;
}