#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background: black;
  color: white;

  h3 {
    font-size: 30px;
    &::first-letter {
      color: red;
    }
  }
}
